.comment {
    list-style-type:none;
    padding: 5px;
    color: #282c34;  
    
}

.commentList{
    margin: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;    
}

.deleteButton {
    display: flex;
    margin: 15px;
    background-color: rgb(232, 109, 93);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    
    
}
.deleteButton:hover {
    background-color: rgb(216, 32, 32);
    transition: all 0.2s ease-out;
    transform: scale(105%);
}
.comment:hover {
    background-color: rgb(238, 238, 238);
}